
    <form [formGroup]="form">
      <div class="calix-container">
        <div class="calix-info">
          <label>Label *</label>
          <i class="fas fa-thin fa-circle-info"
          calixTooltip="this is a hint text to help user"
          [tooltipType]="'info'"
          [tooltipPosition]="tooltipPosition.Right"></i>
        </div>
        <calix-input formControlName="name"
                    [options]="{'placeholder': 'Placeholder' }"
                    (valueChange)="getOutputOfCalixInput($event)">
        </calix-input>
        <calix-show-form-errors [control]="form.get('name')"></calix-show-form-errors>
    </div>
</form>

<pre>{{form?.status | json}}</pre>
<pre>{{form?.value | json}}</pre>
<router-outlet></router-outlet>

