$tooltip-light-color: #f8f9fa;
$tooltip-success-color: #28a745;
$tooltip-danger-color: #dc3545;
$tooltip-warning-color: #ffc107;
$tooltip-info-color: #17a2b8;
$tooltip-color-text: #fff;
$error-message-color: red;
$arrow-size: 10px;
